
.endpoint-container {

}

.push-right {
    margin-left: 30px;
}
.endpoints-list {
    list-style: circle;
}
.endpoints-list > li {
    margin-left: 60px;
}
code {
    background-color: #c3c3c3;
}
.field-list > li {
    list-style-type: circle !important;
    margin-left: 30px;
}

.collapsible-body p {
    padding: 0;
}

.badge {
    float: none !important;
}
li > .collapsible-header.active {
    background-color: brown;
}
li.active {
    background-color: bisque;
}

.get {
    background-color: aqua !important;
}
.post {
    background-color: #1f2aff !important;
}
.put, .patch {
    background-color: chartreuse !important;
}
.delete {
    background-color: red !important;
}
.options {
    background-color: aquamarine !important;
}