.endpoints-list {
    margin-left: 60px;
}
.endpoints-list > li {
    margin-left: 60px;
}
code {
    background-color: #ff4d31;
}
.field-list > li {
    margin-left: 30px;
}
.field-list > li > *, .subfields-wrapper > span.badge {
    vertical-align: top;
}
.collapsible-body p {
    padding: 0;
}
.collapsible-body {
    box-shadow: 0 0 3px 2px rgba(255,255,255,1);
    padding: 20px;
}
.collapsible {
    border: 0;
}
.collapsible-header {
    background: #5301d4 !important;
    border: 0;
    box-shadow: 0 0 3px 2px rgba(255,255,255,1);
    z-index: auto;
}

.json-container {
    border-radius: 10px;
    padding: 10px;
    margin-left: 30px;
    display: inline-block;
    box-sizing: padding-box;
}
.badge {
    float: none !important;
    font-weight: bold !important;
}
.btn-method {
    padding: 0 1rem;
    margin-top: -2.5px
}
.get {
    background-color: #09ff00 !important;
}
.post {
    background-color: #1f2aff !important;
}
.put, .patch {
    background-color: #00ffdd !important;
}
.delete {
    background-color: red !important;
}
.options {
    background-color: #00ff93 !important;
}
div.subfields-wrapper {
    display: inline-block;
}
.subfields {
    display: none;
}
/*.sub-fields-wrapper {*/
    /*display: inline-block;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*.sub-fields-wrapper .collapsible-header {*/
    /*padding: 0 !important;*/
    /*box-shadow: none;*/
    /*line-height: 1rem; !important;*/
    /*min-height: 1rem !important;*/
    /*margin-left: 10px;*/
/*}*/
/*.sub-fields-wrapper .collapsible-header .badge {*/
    /*margin: 0 !important;*/
/*}*/
.dropdown-content li > a {
    color: white;
}
.dropdown-content li > a:hover {
    background: #c20083 !important;
}
.choices.active {
    background: #c236c0 !important;
    border-radius: 0 10px 10px 10px;
}
.choices-header {
    font-weight: bolder;
}
.active {
    background: #4941d4 !important;
}
/*==================================================*/
body {
    background: #5301d4 !important;
    color: white !important;
}





/**
 * Framework starts from here ...
 * ------------------------------
 */

.tree,
.tree ul.tree-list {
    margin:0 0 0 1em; /* indentation */
    padding:0;
    list-style:none;
    position:relative;
}

.tree ul.tree-list {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul.tree-list:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left: 3px solid;
}

.tree li.tree-list-item {
    margin:0;
    padding:0 1.5em; /* indentation + .5em */
    /*line-height: 2em; !* default list item's `line-height` *!*/
    /*font-weight:bold;*/
    position:relative;
}

.tree li.tree-list-item:before {
    content:"";
    display:block;
    width: 20px; /* same with indentation */
    height: 0;
    border-top:3px solid;
    margin-top:-3px; /* border top width */
    position:absolute;
    top:1em; /* (line-height/2) */
    left:0;
}

.tree li.tree-list-item:last-child:before {
    background: #5301d4 !important;
    height:auto;
    top:1em; /* (line-height/2) */
    bottom:0;
}